body{
    background-color: black;
    

}

.image_accueil{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    height: 400px;
}

.titre_accueil{
    color: white;
    font-family: Archivo Black;
    font-size: 32px;
    margin: 17px;
    padding: 0px;
    text-align: center;
    margin-top: 260px;
}
.second_titre{
    color: white;
    font-family: Archivo Black;
    font-size: 32px;
    padding: 10px;
    text-decoration: underline red;
}
.texte_accueil{
    color: white;
    font-family: Archivo Black;
    font-size: 16px;
    margin: 20px;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}

.bouton_savoirplus{
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: Archivo Black;
    display: flex;
    align-items: center;
    padding: 1rem; 
    text-decoration: none;
    border-radius: 20px;   
    font-size: 18px;
}


.card_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: relative;

    height: 500px;
    justify-content: flex-end;
    
}

.card_accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.section{
    margin-top: 10px;
}
.degradé_image{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}
.texte_article{
    background-color: white;
    padding: 15px;
    font-family: Mulish;
    margin-bottom: 0px;
}
.légende_image{
    color: white;
    font-family: archivo black;
    font-size: 15px;
    margin: 10px;

}
.bouton_article{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Archivo Black;
    display: flex;
    padding: 1rem; 
    text-decoration: none;
    border: solid 1px #ffffff;;  
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 200px;
    margin-top: 10px;
    justify-content: center;

}
.titre_page{
    color: white;
    font-family: Archivo Black;
    font-size: 32px;
    margin: 17px;
    padding: 0px;
    text-align: left;
    padding-top: 260px;

}
.image_page_article{
    position: relative;
}

