body{
    background-color: black;
    

}

.image_accueil{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
}

.titre_accueil{
    color: white;
    font-family: Archivo Black;
    font-size: 32px;
    margin: 17px;
    padding: 0px;
    text-align: center;
    margin-top: 260px;
}
.second_titre{
    color: white;
    font-family: Archivo Black;
    font-size: 32px;
    padding: 10px;
    text-decoration: underline red;
}
.texte_accueil{
    color: white;
    font-family: Archivo Black;
    font-size: 16px;
    margin: 20px;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}

.bouton_savoirplus{
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: Archivo Black;
    display: flex;
    align-items: center;
    padding: 1rem; 
    text-decoration: none;
    border-radius: 20px;   
    font-size: 18px;
}


.card_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.section{
    margin-top: 10px;
}
.degradé_image{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}