header{
    border-bottom: solid 5px rgb(0, 0, 0);	
}
.headband{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.titre_site{
    font-family: playfair display;
    color: white;
    align-items: center;
}
.bouton_menu{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 50px;
    height: 43px;
}
.logo_site{
    width: 44px;
    height: 44px;
    margin: 10px;
}
.ligne_rouge{
    border-color: red;
    display: flex;
    align-items: center;
    background-color: black;
    margin: 0px;
}

