header{
    border-bottom: solid 5px rgb(0, 0, 0);	
}
.headband{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    height: 70px;
}
.titre_site{
    font-family: playfair display;
    color: white;
}
.bouton_menu{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 50px;
    height: 43px;
}
.logo_site{
    position: absolute;
    top: 0;
    left: 0;

    width: 44px;
    height: 44px;
    margin: 15px;
}
.ligne_rouge{
    color: red;
    display: flex;
    align-items: center;
    background-color: red;
    border: 1px solid red;
    margin: 0px;
    height: 2px;
}

